/* Estilos globais */
body {
    background-color: #0D1117;
}

h1 {
    color: #fdfdfd;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}

h2 {
    color: #ffffff;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    margin-top: 26px;
    text-align: center;
}

p {
    color: #fdfdfd;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #fdfdfd;
    margin: 20px 0;
}

/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between; /* Alinha o h1 e o botão de menu em lados opostos */
    align-items: center;
    padding: 10px 20px;
}

/* Estilos do botão de menu hambúrguer */
.menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.menu-toggle img {
    width: 50px;
    height: auto;
    display: block;
}

/* Estilos dos botões de ação (Impressoras e Projetos) */
.botoes-container {
    display: flex; /* Coloca os botões um ao lado do outro */
    justify-content: center; /* Centraliza o grupo de botões */
    align-items: center;
    gap: 15px;
    margin-top: 20px; /* Espaço entre o parágrafo e os botões */
}

.search-button,
.projects-button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.search-button:hover,
.projects-button:hover {
    background-color: #009688;
    transform: scale(1.05);
}

.search-button i,
.projects-button i {
    color: white;
}

/* Estilos do menu de navegação (que fica oculto) */
.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 5;
    text-align: center;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}